body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #dbf264;
}

svg {
    margin-top: 150px;
    background: cadetblue;
    padding: 10px;
}

#legend{
    margin-top: 20px;
}

#tooltip {

    visbility: hidden;
    width: auto;
    height: auto;
}
